page-juiciable {
    ion-content{
        background-image: linear-gradient(to bottom, #b32e43, #912ad3);
    }
    ion-navbar .toolbar-background.navJuicio {
        background: #b32e43 !important;
    }
    ion-card{
        border-radius: 8px!important;
    }
    ion-card.redbg{
        background-color: #c60506;
    }
    ion-card.redbrd{
        border: 2px solid #c60506;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    ion-card.redbg p{
        color: #fff;
    }
    ion-col.col.derecha{
        text-align: right;
    }
    button.pagar{
        height: 50px;
        border-radius: 15px;
        background-color: #d078ff!important;
    }

}
